*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Gradle files
.gradle/
build/
/*/build/
/*/out/
/out
/build

# IntelliJ
.idea/*
!.idea/dictionaries/dmt_dictionary.xml
# Exclude inspection profile to share some common settings like javadoc tags
!.idea/inspectionProfiles/dmt_inspection_profile.xml
# !.idea/markdown-navigator/profiles_settings.xml
*.iml

/repo/**/
local.properties